body{
    background: rgb(41, 27, 27);
}
.main{
    border: 3px solid black;
    width: 600px;
    text-align: center;
    background: lavender;
    margin: auto;
    margin-top: 10%;
}


li{
    text-align: justify;
    padding-left: 145px;
    padding-bottom: 5px;
    color:rgb(153, 107, 198);
}


#n1{
    width: 250px;
    height: 25px;
    text-align: center;
    border: 2px solid black;
    margin-top: 20px;
}


#btn{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
}


input[type="submit"]{
    height: 75px;
    width: 75px;
    background: yellowgreen;
    color: black;
    font-size:medium;
    font-weight: bold;
    border: 0;
    box-shadow: 5px 5px 5px black;
}


h1{
    color: black;
}


h3{
    color:orangered
}


#res{
    width: 500px;
    height: 25px;
    color: black;
    background: pink;
    margin-left: 60px;
    margin-top: 30px;
}
img{
    border-radius: 50%;
}